@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));

:root {
  --background: #ffffff; /* gray-50/white */
  --foreground: #111827; /* gray-900 */
}

[data-theme="dark"] {
  --background: #0b0f19; /* gray-950 */
  --foreground: #f3f4f6; /* gray-100 */
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

:focus-visible {
  outline: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
